header {
    left: 0;
    right: 0;
    padding: 1em;
}

header h2 {
    margin-top: 0px;
    font-size: 1em;
    text-align: center;
}

iframe {
    width: 320px;
    height: 480px;
    border: none;
}