<!-- desktop root folder -->
<div *ngIf="desktopFolder">
    <folder [folder]="desktopFolder" (fileClicked)="fileClicked($event)" class="desktop-folder"></folder>
    <folder *ngFor="#folder of folders, #idx = index" [folder]="folder" (fileClicked)="fileClicked($event)" (folderClosed)="folderClosed($event)"
        [style.top]="idx*3+'em'" [style.left]="idx*5+'%'" class="folder"></folder>
</div>

<!-- opened files == fensters -->
<div *ngIf="fensters">
    <fenster *ngFor="#fenster of fensters" [fenster]="fenster" (fensterClosed)="fensterClosed($event)" class="fenster"></fenster>
</div>